<% if user_signed_in? %>
<div class="backgroundimage">

	<div class = "signupform pure-form">
	<h1> Find a home for your stuff! </h1>
	<fieldset>
		<%= form_for @request do |f| %>
			<div class="datebutton">
			<%= f.text_field :datein, :class => 'datepicker', :placeholder=>"Start Date" %></div>

			<div class="datebutton">
			<%= f.text_field :dateout, :class => 'datepicker', :placeholder=>"End Date" %></div>

			<%= f.submit "Create Request", :class=>'pure-button'%>
		<% end %>
		</fieldset>
	</div>
	<h3 class="hometext"> Select, generally, which items you want to store </h3>

<div class="pure-g fancycharlie">
	<div class="pure-u-1-5 " ></div>
	<div class="pure-u-1-5 " ><button class= " btn btn-5 btn-5b icon-couch"> <span> Couch </span> </button></div>

	<div class="pure-u-1-5 " ><button class= "btn btn-5 btn-5b icon-fridge"> <span> Fridge </span> </button></div>

	<div class="pure-u-1-5 " ><button class= "btn btn-5 btn-5b icon-box"> <span> Box </span> </button></div>
	<div class="pure-u-1-5 " ></div>
</div>
</div>


<% else %>


<div class="backgroundimage">
<div class="center bighome">
	<h1>Boola Basements</h1>

  <h2 class="hometext">
    Please sign up here to get started! 
  </h2>

  <%= link_to "Sign up now!", '/users/sign_up', class: "pure-button" %>
</div>
</div>

<%end%>

