<% if user_signed_in? %>
	<%= button_to "New listing", "/listings/new", :class => "pure-button", :method => :get  %>
	<%= button_to "My Listing", "/listings", :class => "pure-button", :method => :get  %>

<div class = "signupform pure-form pure-form-aligned">
	<%= form_for @request do |f| %>
		<div><%= f.label :datein %>
		<%= f.text_field :datein, :class => 'datepicker' %></div>

		<div><%= f.label :dateout %>
		<%= f.text_field :dateout, :class => 'datepicker' %></div>

		<%= f.submit "Create Request" %>
	<% end %>
</div>
	<h3> Select, generally, which items you want to store </h3>

	<button class= "btn btn-5 btn-5b icon-couch"> <span> Couch </span> </button>

	<button class= "btn btn-5 btn-5b icon-fridge"> <span> Fridge </span> </button>

	<button class= "btn btn-5 btn-5b icon-box"> <span> Box </span> </button>

	<button class= "btn btn-5 btn-5b icon-couch"> <span> Box </span> </button>



<% else %>
<div class="center bighome">
  <h1>Boola Basements</h1>

  <h2>
    Please sign up here to get started! 
  </h2>

  <%= link_to "Sign up now!", '/users/sign_up', class: "pure-button" %>
</div>
<%end%>

