<div class = "signupform pure-form pure-form-aligned">
	<%= form_for(@listing) do |f| %>
		<div><%= f.label "Start" %>
		<%= f.text_field :datein, :class => 'datepicker'  %></div>

		<div><%= f.label "Finish" %>
		<%= f.text_field :dateout, :class => 'datepicker'  %></div>

		<div><%= f.label "Location" %>
		<%= f.text_field :location %></div>

		<div><%= f.label "Description" %>
		<%= f.text_field :description %></div>


		<div><%= f.label "Price per Week" %>
		<%= f.text_field :price %></div>


		<%= f.submit "Create Listing" %>
	<% end %>