<% provide(:title, 'Listings') %>
<h1> New Listings</h1>
<% if user_signed_in? %>
<form class = "signupform pure-form pure-form-aligned">
	<%= form_for(@listing) do |f| %>
		<div class="pure-control-group"><%= f.label "Start" %>
		<%= f.text_field :datein, :class => 'datepicker', :placeholder => "Click to Select Date" %></div>

		<div class="pure-control-group"><%= f.label "Finish" %>
		<%= f.text_field :dateout, :class => 'datepicker', :placeholder => "Click to Select Date"  %></div>

		<div class="pure-control-group"><%= f.label "Location" %>
		<%= f.text_field :location, :placeholder => "Street Address City" %></div>

		<div class="pure-control-group"><%= f.label "Description" %>
		<%= f.text_field :description, :placeholder => "Great location!" %></div>

		<div class="pure-control-group"><%= f.label "Price (per Week)" %>
		<%= f.text_field :price, :placeholder => "30" %></div>

		<div class="pure-control-group">
		<%= f.submit "Create Listing", :class => "pure-button" %>
		</div>
	<% end %>
	</form>
	<!-- put stuff here later -->
<% end %>