
<% if user_signed_in? %>
	<%= button_to "New listing", "/listings", :class => "button", :method => :get  %>
	<%= form_for(@request) do |f| %>
		<%= f.label :datein %>
		<%= f.text_field :datein %>

		<%= f.label :dateout %>
		<%= f.text_field :dateout %>

		<%= f.submit "Create Request" %>
	<% end %>

<% else %>
<div class="center hero-unit">
  <h1>Boola Basements</h1>

  <h2>
    Please login here to get started! 
  </h2>

  <%= link_to "Sign up now!", '/users/sign_up', class: "btn btn-large btn-primary" %>
</div>
<%end%>

